page-myaccount {

    .toolbar-background-md {
        border-color: white;
        background:white;
    }
    .profile-image{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .toolbar-md {
        padding: 4px;
        min-height: 0;
    }

    ion-list {
        border: 3px solid lightgrey;
    }

    h2 {
        color: chocolate;
        font-size: 18px;
        padding: 1px;
        margin-left: auto;
        margin-right: auto;
        border-top: 5px solid rgb(233, 227, 227);
        padding-top: 28px;
    }

    .scroll-content {
        padding: 4px;
    }
    .item-label-stacked .text-input-md, .item-label-floating .text-input-md {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 8px;
        width: calc(100% - 8px);
    }
    
    .item-md {
        font-size: 15px;
        background-color: aliceblue;
        font-weight: 100;
    }

    .label-md[stacked], .label-md[floating] {
        margin-left: 0;
        margin-top: 0;
    }


    ion-label
    {
        font-size: 12px;
    }

    .ng-valid[required], .ng-valid.required  {
    // border-left: 1px solid #42A948; /* green */
    }
    .ng-invalid:not(form)  {
    // border-left: 1px solid #a94442; /* red */
    }

    
}