<ion-content>
    <form #bookForm="ngForm" (ngSubmit)="save()">
      <ion-navbar>        
      </ion-navbar>

      <h2>My Account</h2>
         <ion-list class="myacc">
          <ion-item>
            <ion-label floating>Name</ion-label>
            <ion-input type="text" [(ngModel)]="person.name" name="name" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Contact Number</ion-label>
            <ion-input type="text" minlength="10" maxlength="10" [(ngModel)]="person.contactnumber" name="contactnumber" required></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating>Current Location</ion-label>
              <ion-textarea class="locationaddress" type="text" maxLength="500" [(ngModel)]="person.address" name="address" readonly></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label floating>Landmark</ion-label>
            <ion-input type="text" [(ngModel)]="person.landmark" name="landmark"></ion-input>
        </ion-item>
          
      </ion-list>
      <!-- <button color="secondary" ion-button block (click)="save()">Save</button> -->
      <button ion-button block type="submit" class="btn btn-default" [disabled]="!bookForm.form.valid">Save</button>
      
      <!--div id="phone-sign-in-recaptcha" ></div-->      
    </form>
    <button class="delete"  ion-button block (click)="delete()">Delete</button>
      
    <h2>My Orders</h2>
    <div class='noorders' *ngIf="FirebaseProvider.gorderdetails.length==0">
        No Orders
    </div>
    <ion-list *ngIf="FirebaseProvider.myorders.length>0 && FirebaseProvider.gorderdetails.length>0" no-line class='myorders'>
      <ion-item   *ngFor="let items of FirebaseProvider.myorders; let i = index">
              <ion-row class='itemheight'>
                <ion-col class='ordername' col-6>{{items.orderid}}</ion-col>
                <ion-col class='orderdate' col-6>{{items.orderdate}}</ion-col>
              </ion-row>  
         
              <ion-list  no-line *ngFor="let gitem of FirebaseProvider.gorderdetails; let i = index">
                <ion-item *ngIf="items.orderid==gitem.cartOrderId">
                  <ion-row>
                    <ion-col col-10>{{gitem.name}}</ion-col>
                    <ion-col col-2>{{gitem.cost}}Rs</ion-col>
                  </ion-row> 
                </ion-item> 
              </ion-list> 
              <div  class='deliveryprice' >
                <div >
                  <ion-row>
                    <ion-col col-9>Packagaing charge:</ion-col>
                    <ion-col class='price' col-3>{{items.packagingcharge}}RS</ion-col> 
                  </ion-row>                  
                </div>
                <div >
                  <ion-row>
                    <ion-col col-9>Delivery Charge:</ion-col>
                    <ion-col class='price' col-3>{{items.deliverycharge}}Rs</ion-col> 
                  </ion-row>
                </div>
                <div >
                  <ion-row>
                    <ion-col col-9>Total Cart Amount:</ion-col>
                    <ion-col class='price' col-3>{{items.totalcartamount}}Rs</ion-col>
                  </ion-row>
              </div>
                <div >
                  <ion-row>
                    <ion-col col-9>Total Amount Paid:</ion-col>
                    <ion-col class='price' col-3>{{items.totalcartamount+items.deliverycharge+items.packagingcharge}}Rs</ion-col> 
                  </ion-row>
                </div>
                
                <div no-line class='orderaddress'>Address: {{items.address}}</div>
              </div>
              
      </ion-item>
    </ion-list>
</ion-content>
