page-cart {

    ion-label    {
        color: #000000fb;
        font-size: 12px;
    }
    ion-title    {
        margin-left: 5px;
    }
    .toolbar-background-md {
        border-color: white;
        background:white;
    }

    .toolbar-md {
        padding: 4px;
        min-height: 0;
    }   
    
    .toplist {
        //border-bottom: 2px dotted lawngreen;
    }

    button {
        padding-top: 7px;
        zoom: 1;
        background-color: white;
        padding-left: 8px;
    }

    .restaurantheader {
        padding: 5% 5%;
        font-size: 18px;
        font-weight: bold;
        color: chocolate;
        border-bottom: 18px  #b2d0e2 solid;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    }

    ion-badge {
            /* padding: 2px 2px; */
    text-align: center;
    display: inline-block;
    min-width: 10px;
    font-size: 1rem;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    margin-left: 25px;
    margin-top: 15px;
    color: white;
    color: darkslategray;
    }

    .itemsquantitybadge {
        
        padding: 0;
        text-align: center;
        display: inline-block;
        min-width: 16px;
        font-size: 1.3rem;
        line-height: 0;
        white-space: nowrap;
        vertical-align: baseline;
        margin-left: 0; 
        color: darkslategray;
        background-color: white;
    }

    .row {
        padding-bottom: 10px;
    }

    .badge-md-light {
        color: #000;
        background-color: white;
        margin:0;
        padding-left: 40px;
    }

    .button-clear-md {
        margin-left: 4%;
        border-color: transparent;
        color: black;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: 1;
        width: 70px;
        height: 20px;
        padding-top: 2px;
        margin-top: 12px;
        background-color: rgb(237, 252, 237);
        box-shadow: 0 0 5px 1px grey;
        font-weight: normal;
    }

    .list-md .item-block .item-inner {
        border-bottom: 0;
    }

    ion-icon {
        font-size: 1.2em;
        color: darkslategrey;
        padding-bottom: 5px
    }

    .toplist ion-item {
        height: 4em; /* <- this can be whatever you need */
        }

        .item-md ion-avatar img {
            border-radius: 50%;
            overflow: hidden;
            width: 50px;
            max-width: 50px;
            height: 50px;
        }
    
        .item-md p {
            margin: 0 0 2px;
            overflow: inherit;
            color: cadetblue;
            padding-right: 8px;
            float: right;
        }
        
    .selector {
        font-family: SFNSDisplay;
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 0.1px;
        padding: 5px ;
        color: #29235e;
        width: 25% !important;
        max-width: 25% !important;
        justify-content: center;
        border: solid 1px  #b2d0e2;
        background-color: #ffffff;
        text-align: center;
      }
      .option {
        font-family: SFNSDisplay;
        font-size: 8px;
        line-height: 1.2;
        letter-spacing: 0.1px;
        color: #29235e;
        width: 100% !important;
        max-width: 100% !important;
        justify-content: center;
        height: 20px;
      }
      .col {
        padding: 0;
        padding-left: 10px;
        white-space: normal;
        max-width: 100%;
        
    }
    .item-md ion-avatar img {
        overflow: hidden;
        max-width: 70px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    .additems {
        margin-left: 10%;
    }

    .cartitems{
        border-bottom: 1px dotted #b2d0e2;
    }

    .bottompane
    {
        height:50%;
        border-bottom: 2px dotted lawngreen;
    }
    .restaurantbillheader{
        font-size: 15px;font-weight: bold;
    }
    .restaurantbillleft{
        text-align: left; margin-top: 10px;line-height: 0.9;
    }

    .restaurantbillright{
        text-align: right; margin-top: 10px;line-height: 0.9;
        margin-left: -12px;
    }

    .totalpayleft{
        font-weight: bold;font-size: 13px;text-align: left;margin-top: 10px;line-height: 1;
    }
    .totalpayright{
        font-weight: bold;font-size: 13px;text-align: right;margin-top: 10px;line-height: 1;
        padding-right: 12px;
    }

    .checkout{
        float: right;
        margin-top: 10px;
        margin-right: 5px;
        margin-top: 35px;
        max-height: 30px;
        line-height: 1;
        border-radius: 5px;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
        box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    }
    
    .totalpay
    {
        padding-top: 5px;
    }

    .payamt
    {
        background-color: #ffffff;
        border: 1px dashed #dad0d1;
        border-radius: 10px;
        padding: 0;
        margin-right: 5px;
        /* -webkit-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5); */
        /* box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5); */ 
    }
}
