  
  <ion-content >
    <ion-navbar>
    <ion-title></ion-title>
    </ion-navbar>
    <ion-list class="toplist">
      <div *ngIf="items.length>0" class="restaurantheader">{{restaurant.selectedrestaurant}}</div>
      <ion-item class="cartitems" *ngFor="let item of items; let i = index">
        
        <ion-row>
          <ion-col col-8><br>{{item.name}}<br>{{item.cost}}Rs</ion-col><br>
          <ion-col col-4>
            <br>
            <button clear (click)="decrementQty(item)"><ion-icon name="remove-circle" ></ion-icon></button>
            <ion-badge class="itemsquantitybadge">{{item.quantity}}</ion-badge>
            <button clear (click)="incrementQty(item)"><ion-icon name="add-circle" ></ion-icon></button>
            &nbsp;<br><ion-badge color="light">{{item.quantity*item.cost}} Rs</ion-badge>
          </ion-col>
        </ion-row>      
      </ion-item>
        
      <ion-item style="height:50%;" *ngIf="items.length==0">
          <div>No items in cart. please add the items from menu</div>
      </ion-item>
    </ion-list>
    <ion-list no-line> 
      <ion-item class='bottompane' *ngIf="items.length>0">
            <div class="restaurantbillheader">Restaurant Bill</div>
          <ion-row  >
                
            <ion-col col-8 class="restaurantbillleft">
                <br>
                <div>Total items in cart </div><br>
                <div>Total amount </div><br>
                <div>Restaurant Packaging charge </div><br>                
                <div>Delivery Charge  </div><br>           
            </ion-col>
            <ion-col col-4 class="restaurantbillright">
                    <br>
                    <div>{{items.length}}</div><br>
                    <div>{{totalcartamount}} Rs</div><br>
                    <div>{{packagingcharge}} Rs</div><br>                
                    <div>{{deliverycharge}} Rs</div><br>           
                </ion-col>              
          </ion-row>
        </ion-item>     
          <ion-item  *ngIf="items.length>0" class="totalpay">
            <ion-row class="payamt">
                <ion-col col-8 class='totalpayleft'>
                    <div>To Pay </div><br>           
                </ion-col>
                <ion-col col-4 class='totalpayright'>
                    <div>{{totalamount }} Rs</div><br>           
                </ion-col>              
            </ion-row>
            <ion-row>
                <ion-col >
                    <button class='checkout' ion-button (click)="checkout()">Checkout </button>           
                </ion-col>              
            </ion-row>
        </ion-item>
         
    </ion-list>
  </ion-content>
   