page-home {
    .toolbar-background {
        background-color: greenyellow;
    }

    .toolbar-md {
        padding: 0;
        min-height: 2.3em;
      }

    .toolbar-title-md {
        font-size: 1em;
        font-weight: 300;
        color: #424242;
        float: centre;
    }

    ion-slides {
        display: block;
        width: 100%;
        height: 25%;
    }

    .swiper-pagination-clickable .swiper-pagination-bullet {
        cursor: pointer;
        float: none;
    }


    .selectloc{
        font-weight: bold; font-size: 10px;text-align: left;
    }
    .selectedloc{
        padding-left:4%;padding-top:10%;font-size: 12px;float:left;overflow: hidden;text-overflow: ellipsis;width:100%;
    }

    .item-md {
        /* padding-left: 16px; */
        padding: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color:#4179e2;
        height:0;
        width: 100%;
    }

    ion-icon {
        font-size: 25px;
        padding-left: 15px;
        color:darkslategrey
    }

    .slider
    {
        border: 1px solid rgb(136, 133, 167);
        margin-bottom: 5px;
    }

    button {
        zoom: 1;
        background-color: #4179e2;
        float:left;
        padding-top: 15px;
    }

    .grid {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .item-md p {
        font-size: 1.2rem;
        text-overflow: inherit;
        color:darkslategray;
    }

    .col{
        padding:0;
    }
    
    .searchbar-md {
        background: inherit;
        padding: 1%;
        left: 1%;
    }
    .searchbar-md .searchbar-input {
        padding: 4px 48px;
        border-radius: 5px;
        margin: 0;
        font-size: 1.5rem;
        font-weight: normal;
        line-height: 3rem;
        color: #3c3636;
   }
    .searchlist
    {
        padding-left: 2%;
        background-color:white;
        height:7em;
        text-align: left;
    }

    .searchlistinner {
        border: 1px solid #b2d0e2;
        background-color: white;
    }

    .searchheader {
        border-color: red;
    }

    .sitem-md p { 
        line-height: 0;
    }

    .restautantimage
    {
        max-width: 90px;
        height: 82px;
    }

    .restaurantname
    {
        font-weight: bold; font-size: 13px;text-shadow: 1px 1px 3px rgb(182, 137, 137);
    }

    .restaurantdetail
    {
        font-size: 12px;
    }

    .restaurantrating
    {
        border-bottom: 0.1px solid #b2d0e2;
        border-width: thin;
    }

    .divider
    {
        border-bottom: 1px solid #b2d0e2;
        padding :10px 10px 0 10px; 
        margin:0;
        font-size: 15px;
        font-weight: bold;
        color: chocolate;
    }

    .list-md .item-block .item-inner {
        border-bottom: 1px solid #b2d0e2;
    }
    
    .restaurantdistance
    {
        font-size: 1rem;padding-left:48%;
    }
    .list-md {
         margin: 0; 
    }
    .label-md {
        margin: 0;
        box-shadow: 1px 3px 3px rgba(0,0,0,0.5);
    }

    .scroll-content {
        //background-color: #e4dddd;
        background-color: white;
    }

    .warnmesaage
    {
        padding-left: 11px;
        color: gainsboro;
    }

    .checked {
        color: orange;
    }
    
    .ratingcolor{
        color:lightgray;
    }
}
