page-home {
    .toolbar-background {
        background-color: greenyellow;
    }

    .toolbar-md {
        padding: 0;
        min-height: 2.3em;
      }

    .toolbar-title-md {
        font-size: 1em;
        font-weight: 300;
        color: #424242;
        float: centre;
    }

    .item-md {
        /* padding-left: 16px; */
        padding: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color:color($colors,danger);
        height:0;
        box-shadow: none;
        width: 100%;
    }

    ion-icon {
        font-size: 1.5em;
        color:black;
    }

    button {
        zoom: 1;
        background-color: color($colors,danger);
        float:left;
        padding-top: 15px;
    }

    .grid {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .item-md p {
        font-size: 1.2rem;
        text-overflow: inherit;
        color: rgb(0, 0, 0);
        width:110%;
    }

    .searchbar-md {
        background: inherit;
        padding: 0;
    }
    .searchbar-md .searchbar-input {
        padding: 4px 48px;
        border-radius: 5px;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 3rem;
        color: #141414;
   }
    .searchlist
    {
        padding:2%;
        background-color:#e4dddd;
        height:7em;
        text-align: left;
    }

    .searchlistinner {
        border: 1px solid grey;
        background-color: white;
    }

    .searchheader {
        border-color: red;
    }

    .sitem-md p { 
        line-height: 0;
    }

    .restautantimage
    {
        max-width: 90px;
        height: 82px;
    }

    .list-md {
         margin: 0; 
    }
    .label-md {
        margin: 0;
    }

    .scroll-content {
        background-color: #e4dddd;
    }

    .warnmesaage
    {
        padding-top: 26%;
        padding-left: 21%;
        color:dimgray;
    }

}
