<ion-content>
  <ion-list no-line>  
      <ion-item>
        <ion-grid>
          <ion-row class="searchheader">
            <ion-col col-1>
              <button (click)="openmapPage()" class='selectloc' text-wrap><ion-icon style="float:left;padding-left:2px;padding-bottom: 14px"name="pin" ></ion-icon></button>
            </ion-col>
            <ion-col col-7 right>
               <p (click)="openmapPage()" class='selectedloc'>{{currentaddress}}</p>
            </ion-col>
            <ion-col col-2>
              <button (click)="mycartpage()"><ion-icon name="cart"></ion-icon></button>
            </ion-col>
            <ion-col col-2>
              <button (click)="myaccountpage()"><ion-icon name="contact" ></ion-icon></button>
            </ion-col>            
          </ion-row>
        </ion-grid>  
      </ion-item>
      

      <ion-item>
        <ion-grid>
          <ion-row class="searchheader">
            <ion-col col-sm-12 >
              <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>
            </ion-col>
          </ion-row>
        </ion-grid>  
      </ion-item>
  </ion-list>
  <div #map id="map"></div> 


  <ion-slides class="slider" autoplay="3000" loop="true" speed="3000">
    <ion-slide *ngFor="let slide of slideData">
      <img src="{{slide.image}}" />
    </ion-slide>
  </ion-slides>
  
  <div class='divider'>Restaurants nearby</div>

  <div *ngIf="nearbyPlaces.length==0">
      <div class="warnmesaage">Not avaialable.</div>
  </div>
  <ion-list *ngIf="nearbyPlaces.length>0">
    <ion-item (click)="openrestaurantmenu(place.name,place.r_id)" class="searchlist" *ngFor = "let place of nearbyPlaces">
        
      <ion-row class="searchlistinner">
        <ion-col col-4>
            <img class="restautantimage" src={{place.img_id}}>
        </ion-col>
        <ion-col col-8>
            <a  class="restaurantname">{{place.name}}</a>
            <p class="restaurantdetail">{{place.desc}}</p>
            <br/>
            <!-- <p class='restaurantrating'>Rating*:{{place.rating}}</p> -->
            <p class='restaurantrating'>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class='ratingcolor' *ngFor="let star of place.rating">
                    <i class="{{star}}"></i>
                  </span>
            </p>
            <p class='restaurantdistance'>{{place.distance}}KM</p>
        </ion-col>      
    </ion-row>
  </ion-item>
  </ion-list>
</ion-content>
