<ion-content>
    <ion-navbar>        
      </ion-navbar>
     <div class="checkoutheader"checkoutheader> Checkout Details</div> 
  <h2>Contact details</h2>     

         <ion-list class="myacc">
          <ion-item>
            <ion-label>Name</ion-label>
            <ion-input type="text" [(ngModel)]="person.name" name="name" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Contact Number</ion-label>
            <ion-input type="text" minlength="10" maxlength="10" [(ngModel)]="person.contactnumber" name="contactnumber" readonly>></ion-input>
          </ion-item>
      </ion-list>
    
  <ion-item *ngIf="FirebaseProvider.myadress.length==0">
    <ion-row>
      <ion-col class='locatelabel' col-8>
          Please add an address to continue.
      </ion-col>
        <ion-col col-4>
            <button class='locate' ion-button (click)="AddAddress()"><ion-icon name="pin"></ion-icon></button>
        </ion-col>
      </ion-row>      
    </ion-item> 

  <h2 *ngIf="FirebaseProvider.myadress.length>0">Select Address</h2>     
    <ion-list *ngIf="FirebaseProvider.myadress.length>0">
      <ion-item (click)="selectaddress(i,items)" [class.highlight]="i === currentSelected" *ngFor="let items of FirebaseProvider.myadress; let i = index">
              <ion-row class='adresslabel'>
                <ion-col>
                    {{items.adressname}}
                </ion-col>
                <ion-col style="text-align:right;color:darkslategrey">
                  
                </ion-col>
              </ion-row>
              <ion-row class='itemheight'>
                <ion-col>House No: {{items.housenumber}}</ion-col>
              </ion-row>
              <ion-row class='itemheight'>
                <ion-col>Address: {{items.address}}</ion-col>
              </ion-row>               
              <ion-row class='itemheight'>
                <ion-col>Landmark: {{items.landmark}}</ion-col>
              </ion-row>
      </ion-item>
    </ion-list>
   <button ion-button block (click)="checkout()">Pay Online</button>
    <button ion-button block (click)="cod()">Cash on Delivery</button>
</ion-content>
