 
  <ion-content >
    <ion-navbar>
        <button (click)="mycartpage()" class="carticon"><ion-icon name="cart"><ion-badge class='cartbadge' *ngIf="cartSvc.thecart.length>0">{{cartSvc.thecart.length}}</ion-badge></ion-icon></button>
        <button (click)="Homepage()" class="carticon"><ion-icon name="home"></ion-icon></button>
    </ion-navbar>
    <div class="restaurantheader">{{restaurantname}}</div>
    
    <ion-grid >
        <div class="recommended"> Recommended</div>
        <ion-row wrap>
          <ion-col col-6 *ngFor="let item of FirebaseProvider.recommendedname; let i = index">              
              <ion-item class="recommended_boxshadow">   
                  <img class="recommended_box" src="assets/imgs/{{item.OrderId}}.png">
              </ion-item>
              <p class="recommendtitle">{{item.name  }}  -{{item.cost}}Rs</p>
              <div class="recbuttons">
                <button class="addbutton" ion-button clear (click)="incrementQty(item)" *ngIf="item.quantity==0" >Add </button>      
                <button clear (click)="decrementQty(item)" *ngIf="item.quantity>0"><ion-icon name="remove-circle" ></ion-icon></button>
                <ion-badge class="itemsquantitybadge" *ngIf="item.quantity>0">{{item.quantity}}</ion-badge>
                <button clear (click)="incrementQty(item)" *ngIf="item.quantity>0"><ion-icon name="add-circle" ></ion-icon></button>
              </div>
              </ion-col>
          </ion-row>
      </ion-grid>
      
      
      <ion-list no-lines>
          <ng-template ngFor let-dest [ngForOf]="FirebaseProvider.dests">

            <div class="categoryclass">{{dest.type}}</div>

          <ion-item class="itemmenu" *ngFor="let item of dest.items; let i = index">
            <ion-row>
                <ion-col col-1>
                    <ion-icon class="listbullet" name="radio-button-on"></ion-icon>
                  </ion-col>
              <ion-col col-7>
                <div class="itemname"><br>{{item.name}}<br>{{item.cost}}Rs</div>
              </ion-col><br>
              <ion-col col-4 class="buttonalign">
                <br>
                <button class="addbutton" ion-button clear (click)="incrementQty(item)" *ngIf="item.quantity==0" >Add </button>      
                <div>
                  <button clear (click)="decrementQty(item)" *ngIf="item.quantity>0"><ion-icon name="remove-circle" ></ion-icon></button>
                  <ion-badge class="itemsquantitybadge" *ngIf="item.quantity>0">{{item.quantity}}</ion-badge>
                  <button clear (click)="incrementQty(item)" *ngIf="item.quantity>0"><ion-icon name="add-circle" ></ion-icon></button>
                </div>  
              </ion-col>
            </ion-row>      
          </ion-item>
        </ng-template>
      </ion-list>
  </ion-content>

  
  
  
  