 
  <ion-content>
      <ion-navbar>
        </ion-navbar>
        <div class="restaurantheader">{{restaurantname}}</div>
    <ion-grid>
      <div class="recommended"> Recommended</div>
        <ion-row>
          <ion-col>
            <ion-item class="recommended_box">
                <ion-label>BURGERS</ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item class="recommended_box">
                <ion-label>SHAKES</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="recommended_box">
                <ion-label>MOJITOS</ion-label>
              </ion-item>
          </ion-col>
          <ion-col>
            <ion-item class="recommended_box" >
                <ion-label>SHAKES</ion-label>
              </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <ion-list no-lines>
          <ion-item *ngFor="let item of items; let i = index">
            <ion-row>
                <ion-col col-1>
                    <ion-icon class="listbullet" name="radio-button-on"></ion-icon>
                  </ion-col>
              <ion-col col-7>
                <div class="itemname"><br>{{item.title}}<br>{{item.cost}}Rs</div>
              </ion-col><br>
              <ion-col col-4 class="buttonalign">
                <br>
                <button class="addbutton" ion-button clear (click)="incrementQty(item)" *ngIf="item.quantity==0" >Add </button>      
                <button clear (click)="decrementQty(item)" *ngIf="item.quantity>0"><ion-icon name="remove-circle" ></ion-icon></button>
                <ion-badge class="itemsquantitybadge" *ngIf="item.quantity>0">{{item.quantity}}</ion-badge>
                <button clear (click)="incrementQty(item)" *ngIf="item.quantity>0"><ion-icon name="add-circle" ></ion-icon></button>
              </ion-col>
            </ion-row>      
          </ion-item>
      </ion-list>
  </ion-content>

  
  
  