 
  <ion-content>
    <ion-navbar>
        <button (click)="mycartpage()" class="carticon"><ion-icon [color]="this.cartSvc.thecart.length>0 ? 'name' : 'dark'" name="cart"></ion-icon></button>
        <button (click)="Homepage()" class="carticon"><ion-icon name="home"></ion-icon></button>
    </ion-navbar>
    <div class="restaurantheader">{{restaurantname}}</div>
    
    <ion-grid >
        <div class="recommended"> Recommended</div>
        <ion-row wrap>
          <ion-col col-6 *ngFor="let item of recommendeditems; let i = index">              
              <ion-item class="recommended_box">   
                  <ion-img src="assets/imgs/Burgers.png"></ion-img>    
              </ion-item>
              <p class="recommendtitle">{{item.name}}</p>
              <button class="addbutton" ion-button clear (click)="incrementQty(item)" *ngIf="item.quantity==0" >Add </button>      
                <button clear (click)="decrementQty(item)" *ngIf="item.quantity>0"><ion-icon name="remove-circle" ></ion-icon></button>
                <ion-badge class="itemsquantitybadge" *ngIf="item.quantity>0">{{item.quantity}}</ion-badge>
                <button clear (click)="incrementQty(item)" *ngIf="item.quantity>0"><ion-icon name="add-circle" ></ion-icon></button>
            </ion-col>
          </ion-row>
      </ion-grid>
      
      
      <ion-list no-lines>
          <ng-template ngFor let-dest [ngForOf]="dests">
          <ion-item-divider >
            <div class="categoryclass">{{dest.type}}</div></ion-item-divider>
          <ion-item *ngFor="let item of dest.items; let i = index">
            <ion-row>
                <ion-col col-1>
                    <ion-icon class="listbullet" name="radio-button-on"></ion-icon>
                  </ion-col>
              <ion-col col-7>
                <div class="itemname"><br>{{item.name}}<br>{{item.cost}}Rs</div>
              </ion-col><br>
              <ion-col col-4 class="buttonalign">
                <br>
                <button class="addbutton" ion-button clear (click)="incrementQty(item)" *ngIf="item.quantity==0" >Add </button>      
                <button clear (click)="decrementQty(item)" *ngIf="item.quantity>0"><ion-icon name="remove-circle" ></ion-icon></button>
                <ion-badge class="itemsquantitybadge" *ngIf="item.quantity>0">{{item.quantity}}</ion-badge>
                <button clear (click)="incrementQty(item)" *ngIf="item.quantity>0"><ion-icon name="add-circle" ></ion-icon></button>
              </ion-col>
            </ion-row>      
          </ion-item>
        </ng-template>
      </ion-list>
  </ion-content>

  
  
  
  